.viewerContainer{
    padding: 0rem;
}

.presentation{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header{
    margin: 0px 10%;
    line-height: normal;
    font-size: 50px;
    background-image: linear-gradient(to left, #553c9a, #b393d3);
    color: transparent;
    -webkit-background-clip: text;
}