/* ButtonStyles.css */
.section{
    margin: 20px;

    .button {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        padding: 0px 10%;
    }

    .button1{
        background: #4B99AD;
        padding: 8px 15px 8px 15px;
        border: none;
        color: #fff;
    }

    .button1:hover{
        background: #4691A4;
        box-shadow:none;
        -moz-box-shadow:none;
        -webkit-box-shadow:none;
    }

    .button2{
        background: #4B99AD;
        padding: 8px 15px 8px 15px;
        border: none;
        color: #fff;

    }

    .button2:hover{
        background: #4691A4;
        box-shadow:none;
        -moz-box-shadow:none;
        -webkit-box-shadow:none;
    }
}
  